body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
body > video {
    image-rendering: pixelated;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}
#connect_popup {
    width: 50vmin;
    height: 50vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none !important;
}